<%- include('../../partials/header') %>
<main>
    <h1><%= title %></h1>
    <p class="heading-info">
        Register for a new account by providing your information below. All fields are required and passwords must meet security requirements.
    </p>

    <!-- TODO: Create a form that posts to /register -->
    <!-- TODO: Add appropriate classes and ids; see the styles section for some ideas -->
     <form method="post" action="/register" class="registration-form">
         <!-- TODO: Add form fields for: name, email, emailConfirm, password, passwordConfirm -->
         <!-- TODO: Add appropriate HTML5 validation attributes; see the controller for ideas -->
         <div class="form-group">
             <label for="name">Name</label>
             <!-- TODO: Add helpful placeholder text -->
            <input type="name" id="name" name="name" placeholder="Enter your name" minlength="7" required>
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <!-- TODO: Use proper input types (email, password) pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$"-->
            <input type="email" id="email" name="email" placeholder="Enter your email" required minlength="8" pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$">
        </div>
        <div class="form-group">
            <label for="confirmEmail">Confirm Email</label>
            <input type="email" id="confirmEmail" name="confirmEmail" placeholder="Please confirm your email" required minlength="8" pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <!-- HINT: pattern="(?=.*[0-9])(?=.*[!@#$%^&*]).*" -->
            <input type="password" id="password" name="password" placeholder="Create Your Password" required minlength="8" pattern="(?=.*[0-9])(?=.*[!@#$%^&*]).*">
        </div>
        <div class="form-group">
            <label for="confirmPassword">Confirm Password</label>
            <input type="password" id="confirmPassword" name="confirmPassword" placeholder="Please confirm Your Password" required minlength="8" pattern="(?=.*[0-9])(?=.*[!@#$%^&*]).*">
        </div>
        <button type="submit">Submit Registration Form</button>
     </form>

</main>
<%- include('../../partials/footer') %>