.faculty-title {
    color: black;
    margin-bottom: 0.25rem;
    
}

.detail-title {
    color: #2c5aa0;
    margin-bottom: 0.25rem;

}

.faculty-description {
    color: #666;
    text-align: center;
    margin-bottom: 30px;
}

.faculty-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
    max-width: 800px;
    margin: 0 auto;

    .faculty-card {
        border: 1px solid #ddd;
        border-radius: 12px;
        padding: 1.5rem;
        background: #fff;
        transition: box-shadow 0.2s ease;
        text-align: center;

        &:hover {
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }

        h3 {
            margin: 0 0 0.5rem 0;

            a {
                color: #2c5aa0;
                text-decoration: none;

                &:hover {
                    text-decoration: underline;
                }
            }
        }

        .faculty-title {
            /* color: #666;
            font-weight: 500; */
            margin: 0 0 1rem 0;
        }

        .faculty-department {
            color: #444;
            line-height: 1.5;
            margin: 0;
        }

    }
}

.faculty-sort-options {
    max-width: 820px;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
    /* align-items: center; */
    /* align-content: center; */
    margin-bottom: 1.5rem;
    border-bottom: 2px solid #2c5aa0;
    padding-bottom: 0.5rem;

    span {
        margin: 0;
        color: #2c5aa0;
        
    }

    a {
        color: #2c5aa0;
        text-decoration: none;
        padding: 0.25rem 0.5rem;
        border-radius: 4px;

        &:hover {
            background: #f0f4f8;
        }

        &.active {
            background: #2c5aa0;
            color: white;
        }  
    }
    
}

.detail-faculty-card {
    max-width: 800px;
    margin: 0 auto;
    border: 1px solid #ddd;
    border-radius: 12px;
    padding: 1.5rem;
    background: #fff;
    text-align: center;

    h3 {
        font-weight: bold;
        color: black;
        font-size: 2rem;
        /* margin-bottom: 0.5rem; */
    }

    .detail-p {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    p {
        color: #555;
        font-size: 1.1rem;
    }
}