<%- include('partials/header') %>
<main>
    <h1><%= title %></h1>
    <h2>Hi, I'm Ami Halsey!</h2>
    <p>I grew up in Washington State with my parents and siblings. I am the 4th of 7 kids in the family. I served a mission in Guatemala, Antigua mission from December 2022 - June 2024. I have been married a year to my husband, who I met in Missouri a year before my mission. My major is Web Design and Development. I am a Junior, but will be graduating in December 2027. I am pregnant with my first baby, a little girl, who we are excited to meet in December. </p>
    <img src="/images/MyFamily.JPEG" alt="My family">
</main>
<%- include('partials/footer') %>