<%- include('partials/header') %>
    <h1><%= title %></h1>
    <p class="subtitle-text">Please choose a page to navigate to and enjoy our practice website!</p>
    <ul class="home-page-options">
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/catalog">Course Catalog</a></li>
        <li><a href="/faculty">Faculty Directory</a></li>
        <li><a href="/contact">Contact Us</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/register">Register</a></li>
        <li><a href="/demo">Middleware Demo</a></li>
        <li><a href="/nonexistant">404</a></li>
    </ul>
    <p>Testing</p>
<%- include('partials/footer') %>